/* This file is for your main application css. */

@import "./phoenix.css";
@import "./live_view.css";
/*@import "./pacman.css";
@import "./snake.css";
@import "./thermostat.css";
*/

table {
 border-collapse: collapse;
}

td{
  font-family: sans-serif;
  font-size: 48pt;
  font-weight: bold;
  text-align: center;
  border: solid 3px black;
}

